@import "mixins";
//定义变量
$size:10;


//变量拼接
 $dir:left;
 div{
     margin-#{$dir}:$size+20;
     padding-#{$dir}:$size+20px;
 }
 #left_side_nav{
     width:43px;
     height:300px;
     position:fixed;
     left:0px;
     top:0px;
     z-index:999;
     float:left;
     overflow: hidden;
     display:none;
 }
 #left_side_nav ul li{
     list-style:none;
     height:43px;
     width:42px;
     float:left;
 }

 #right_side_nav{
    position: fixed;
    right:0px;
    bottom:0px;
    width:50px;
    height:300px;
    z-index: 999;

}
#right_side_nav ul li#top{
   
    background:url("../img/erweima1.gif") -42px -36px no-repeat;
}
#right_side_nav ul li#top:hover{
   
   background:url("../img/erweima1.gif") -42px 16px no-repeat;
}


#right_side_nav ul li#QR_code{
    
    
    background:url("../img/erweima1.gif") -94px -40px no-repeat;

}
#right_side_nav ul li#QR_code:hover{
    
    
   background:url("../img/erweima1.gif") -94px 12px no-repeat;

}

#right_side_nav ul li#save{
   
   background:url("../img/erweima1.gif") -150px -40px no-repeat;

}
#right_side_nav  ul li#save:hover{
   background:url("../img/erweima1.gif") -150px -40px no-repeat;

   
   background:url("../img/erweima1.gif") -150px 10px no-repeat;

}
#right_side_nav  ul li#server{
   
   background:url("../img/server.gif") -1px -5px no-repeat;

}
#right_side_nav  ul li#server:hover{
   
   background:url("../img/server.gif") -61px -5px no-repeat;

}
#right_side_nav  ul li{
    list-style: none;
    width:61px;
    height:60px;
    margin-top:10px;
    border:solid 1px #ccc;
    background:white;

}
#right_side_nav  ul li a{
    text-decoration: none;
    width:70px;
    height:60px;
}
 .header{
    width:100%;
    float:left;
    border-bottom:1px solid #e5e5e5;
    font-size:12px;
    height:28px;    
}

.header .h-left{
    margin-left:100px;
    padding:5px;
    height:30px;
    float:left;
   
}

.header .h-left  #bus{
    margin-left:20px;
    height:32px;
    width:34px;
    background: url("../img/head.png") 0px -48px no-repeat;
    float:left;
    padding-left:34px;  
}
#address{
    display: block;
    text-align: left;
    width: 79px;
    height: 22px;
    line-height: 22px;
    padding-left: 6px;
    color: #3e4141;
    text-decoration: none;
    float:left;
    border: 1px solid #eeeee7;
    background: url("../img/head.png") 70px 8px no-repeat #fff;
    margin-top: -2px;
    cursor: pointer;
}

#Alert{
    width:770px;
    height:320px;
    position:fixed;
    background-color:#FFFFFF;
    display:none;
    z-index:9999;
    top:80px;
    left:158px;
    border-radius: 5px;
    font-size:16px;
    padding:38px;
   
}
#hidden{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
    z-index: 9000;
    opacity: 0.5;
    height: 3548px;
    width: 1349px;

}
#Alert ul li{
    width:72px;
    height:30px;
    margin-left:5px;
    list-style: none;
    float:left;
}
#close{
    width:30px;
    height:30px;
    z-index:9999;
    position: absolute;
    top:0px;
    right:10px;
    background:url("../img/login.png") 0px -660px no-repeat;
}
#Alert ul li:hover{
    background:#FFF8F2;
}
.h-left a{
color:#FF6900;
float:left;
margin-right:5px;
}
.h-right{
float:right;   
width:400px;
height:30px;
margin-left:19px;
}
.h-right ul li {
    height: 30px;
    list-style: none;
    position: relative;
    float: left;
    width: 100px;
    text-align: center;
    padding:5px;
   cursor: pointer;
}


.h-right ul li  s{
    top: 7px;
    left: 0;
    width: 0;
    height: 15px;
    border-left: 1px solid #e6e6e6;
    overflow: hidden;
    position: absolute;
    z-index: 0;

}
*{
    padding:0px;
    margin:0px;
}
.h-right ul li a{
    width: 92px;
    padding: 0 0 0 14px;
    display: block;
    background: url("../img/phone.gif") 11px 4px no-repeat;
    line-height: 30px;
    color: #3e4141;
    text-decoration: none;
    margin-top:-5px;
}

.h-right ul li img{
    width: 95px;
    margin-top: -4px;
    position: absolute;
    left:6px;
    z-index: 1;
   display:none;
}

.h-right   ul#server{
    list-style: none;
    width:90px;
    height:120px;
    font-size:12px;
    position: absolute;
    left:1px;
    z-index: 1;
    background-color: white; 
    display: none;
}
div{
    padding-left:0px;
}

.scroll{
    width: 100%;
    height:70px;
    float:left;
    position: relative;
    overflow:hidden;
    padding-left:-30px;
}
.scroll ul li{
    list-style: none;
    height:70px;
    width:100%;
    position:absolute;
    //display:none;
}
.logo{
    width: 1200px;
    float: left;
    margin-left:100px;
    padding: 10px 0 20px;
    position: relative;
}

.logo .search-word{
    position: absolute;
    top: 10px;
    left: 430px;
    line-height: 32px;
    height: 32px;
    width: 470px;
    overflow: hidden;
    display: block;
}
.logo .search-word a{
    text-decoration: none;
    color: #8c8c8c;
    cursor: pointer;
    margin-left:20px;
}
.input-box{
    height:41px;
    width:400px;
    background-color:#91BE16;
    float:right;
    position: relative;
    right:358px;
    top:32px;
    padding:3px;
}

.input-box input{
    width: 320px;
    height: 35px;
    border: 0;
    padding: 0 10px;
    float: left;
    font: 400 14px/35px "Microsoft YaHei";
    color: #3e4141;
    position: absolute;
}
.droplist {
    position: absolute; top: 37px;
    list-style: none; box-sizing: border-box;
    width: 100%; border: 1px solid #ccc;
    display: none;
    background-color: white;
    left:0px;
    border:solid 2px #91be16;
}
.droplist li {
    float: left; height: 25px;
    width: 400px; padding-left: 2px;
}
.droplist li:hover {
    cursor: pointer;
    background: white;
}

#search{
    height: 35px;
    width: 77px; 
    background: url("../img/head.png") 0 -265px no-repeat;    
    display: inline-block;
    position: absolute;
    right:0px;
    top:3px;
}
a{
    cursor: pointer;
}

.logo .login{
    display: block;
    background: url("../img/head.png") 103px 18px no-repeat #fff;
    height: 40px;
    width:125px;
    position: absolute;
    top:33px;
    left:238px;
    padding-right:32px;
    float:right;
    text-align:center;
    padding:9px;
    border:solid 1px #8c8c8c;
    position : relative;
}
 .person{
    background: url("../img/head.png") 103px 13px no-repeat #fff;
    height:33px;
    width:30px;
}
.shopping-cart{
    display: block;
    background: url("../img/head.png") 103px 18px no-repeat #fff;
    height: 40px;
    width:125px;
    float:right;
    position: absolute;
    top:43px;
    left:1060px;
    padding-right:32px;
    float:right;
    text-align:center;
    padding:9px;
    border:solid 1px #8c8c8c;
}
#cart_1{
    width:30px;
    height:30px;
    background:url("../img/head.png") 0px -144px no-repeat;
    position: absolute;
    top:40px;
    right:100px;
    z-index:100;
}
#person_1{
    width:30px;
    height:30px;
    background:url("../img/head.png") 0px -107px no-repeat;
    position: absolute;
    top:40px;
    right:250px;
    z-index:100;
}
#hidden_personal{
    height: 150px;
    width:150px;
    background: #ccc;
    position: absolute;
    top:83px;
    left:889px;
    float: left;
    z-index:333;
    display:none;

}
#hidden_cart{
    height: 150px;
    width:125px;
    background: #ccc;
    position: absolute;
    top:83px;
    left:1060px;
    z-index:333;
    display:none;
}
 a:hover{
    color:#FF6900;
    text-decoration: underline;
}

.nav {
    width:100%;
    height:50px;
    font-size:18px;
    background: #91BE16;
    float:left;
}
.nav ul li{
    list-style:none;
    float:left;
   margin-left:33px;
}
.nav ul li a{
    display:block;
    text-decoration: none;
    color:white;
    margin-left:3px;
    text-align: center;
    padding:13px; 


}
.nav ul li:hover{
    background-color:#78A000;
}
.nav ul li .active{
    background-color:#78A000;
}


.list_nav{
    border: 2px solid #91be16;
    position: absolute;
    top:217px;
    left:96px;
    height: 396px;
    width: 138px;
    background-color: #fff;
    z-index:3;
   
}

.list_nav ul {
    float:left;
    width:100px;
    position: absolute;
    top:-10px;
    left:10px;
}
.list_nav ul li{
    list-style: none;
    margin-left: 30px;
    margin-top:16px;
    font-size:12px;
    margin-right:10px;
    width:80px;

}
.hot{
    width:1220px;
    margin-left:85px;
}
.hot ul li{
    list-style: none;
    float:left;
    margin-left:2px;
}
#product{
    width:1220px;
    height:370px;
    float:left;
    margin-left:47px;
    margin-top:10px;
    position: relative;
}
#product ul li{
    float:left;
    list-style: none;
    margin-left:2px;   
    border:solid 1px #91be16;
    width:196px;
    height:370px;
    margin-left:10px;
}
#product .temp_img{
    width:283px;
    height:335px;
   
 
}
#product .temp_title{
    width:196px;
    height:30px;
    margin-top:253px;
    margin-left:-280px;
    border:0px;
}
#product .temp_price{
    width:50px;
    height:30px;
    margin-top:253px;
    margin-left:-60px;
    border:0px;
}
#product ul .cart_1{
    width:252px;
    height:30px;
    background:url("../img/cart_1.png") 0px 0px no-repeat;
    position: absolute;
    top:280px;
    left:30px;
    cursor: pointer;
}
#adver{
    height:260px;
    width:212px;
    border:solid 1px #91be16;
    float:left;
    margin-left:5px;
    margin-top:-10px;
}
.location{
    margin-left:86px;
    margin-top:10px;
    height:465px;
    width:1204px;
    background:url("../img/nav.jpg") ;
    float:left;
}
.location ul li{
    list-style: none;
}



//底部开始

.foot{
    width:100%;
    height:180px;
    background:#F8F8F6;
    float:left;
    margin-top:30px;
    padding:45px;
}
.foot ul {
    margin-left:-6px;
}
.foot ul li{
    list-style: none;
    width:145px;
    height:95px;
    margin-left:106px;
    float:left;    
}
.foot ul li #send{
    width:30px;
    height:30px;
    float:left;
    background:url("../img/foot.gif") 0px 0px no-repeat;
}
.foot ul li span{
    font-size:18px;
    color:#91BE16;
}
.foot_1{
    margin-top:30px;
    padding:10px;
    width:900px;
    height:240px;
    float:left;
    margin-left:240px;
    color:#666;
}
.foot_1 ul li span{
    font-weight: bolder;
}
.foot_1 ul li{
    list-style: none;
    float:left;
    margin-left:50px;
    margin-top:-10px;
    width:170px;
    height:38px;
}
.foot_1 #menu{
    margin-top:30px;
    margin-left:-22px;
}
.foot_1 #menu ul li{
    margin-top:-20px;
}
#guide{
    
    float:left;
    width:30px;
    height:30px;
    background:url("../img/foot.gif") 0px -250px no-repeat;
}
#payment{
    
    float:left;
    width:30px;
    height:30px;
    background:url("../img/foot.gif") 0px -312px no-repeat;
}
#after-sale{
    
    float:left;
    width:30px;
    height:30px;
    background:url("../img/foot.gif") 0px -347px no-repeat;
}
#dispatching{
    
    float:left;
    width:30px;
    height:30px;
    background:url("../img/foot.gif") 0px -283px no-repeat;
}
.foot_2{
    width:508px;
    height: 150px;
    margin-left:494px;
    color:#666;
}
.foot_2 span{
    margin-left:20px;
    font-weight: bolder;
    font-size:18px;
}
.foot_2 ul li s{
    top: 7px;
    left: 0;
    width: 1px;
    height: 20px;
    border-left: 1px solid #e6e6e6;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}
.foot_2 ul li{
    list-style: none;
    float:left;
    margin-left:15px;
    margin-top:10px;
}
//display:none;
//定义数组
$arr: $size*5,$size*10,$size*15;
.test-arr{
    width:nth($arr,1);
    height:nth($arr,2);
}
//定义map集合
$map:(small:10px,middle:30px,larger:50px);
@each $k,$v in $map{
    .#{$k}{
        font-size:$v;
    }
}

p{
    font-size : map-get($map,small)
}



//继承

%pos-type{
    position:absolute;
    left:0px;top:0px;right:0;bottom:0;
}

